<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 com rescap">

  <Identity Name="SalahWidget" Publisher="CN=SalahWidget" Version="1.0.0.0" />

  <Properties>
    <DisplayName>Salah Times</DisplayName>
    <PublisherDisplayName>Salah Widget</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Salah Times"
        Description="Prayer (salah / namaz) times for your current location on the Widgets board."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        AppListEntry="none" />

      <Extensions>
        <!-- Out-of-process COM server that the Widgets host activates -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="SalahWidget.exe" Arguments="-RegisterProcessAsComServer" DisplayName="Salah Times Widget Provider">
              <com:Class Id="FB2735C8-EBF7-4172-9A06-DF567D945927" DisplayName="SalahWidgetProvider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <!-- Registers this package as a widget provider with the Widgets board -->
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="Salah Times" Id="SalahTimesProvider" PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\WidgetIcon.png" />
                </ProviderIcons>
                <Activation>
                  <CreateInstance ClassId="FB2735C8-EBF7-4172-9A06-DF567D945927" />
                </Activation>
                <Definitions>
                  <Definition Id="SalahTimes"
                              DisplayName="Salah Times"
                              Description="Today's prayer times and a countdown to the next salah, for your current location."
                              AllowMultiple="true"
                              IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="small" />
                      </Capability>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Assets\WidgetIcon.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Assets\ScreenshotDark.png" DisplayAltText="Salah Times widget" />
                      </Screenshots>
                      <DarkMode>
                        <Screenshots>
                          <Screenshot Path="Assets\ScreenshotDark.png" DisplayAltText="Salah Times widget" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Screenshots>
                          <Screenshot Path="Assets\ScreenshotLight.png" DisplayAltText="Salah Times widget" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>
